.ac-container {
  max-width: 1000px;
  margin: 50px auto;
}

.cards {
  margin-top: 15px;
}

.cards .ant-col {
  margin: 10px 0;
}

.ant-select-item-option-content span.match {
  color: #000;
  font-weight: bold;
}